services:
  app:
    build:
      context: .
    ports:
      - 3000:3000
    depends_on:
      - mongo
    environment:
      - MONGODB_URI=mongodb://mongo:27017/blog
    networks:
      - appNetwork
  mongo:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    networks:
      - appNetwork

networks:
  appNetwork:
    driver: bridge

volumes:
  mongo_data: